@import "locomotive-scroll/dist/locomotive-scroll.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  --foreground: #1a1a1a;
  --primary: #16a34a;
  --secondary: #1890ff;
  --tertiary: #ff5722;
  --quaternary: #ffc107;
  --light: #ffffff;
}

[data-theme="dark"] {
  --background: #1a1a1a;
  --foreground: #f5f5f5;
  --primary: #16a34a;
  --secondary: #4d9eff;
  --tertiary: #ff7849;
  --quaternary: #ffd54f;
  --light: #333333;
}

html,
body {
  overflow: hidden;
  height: 100%;
}
[data-scroll-container] {
  min-height: 100vh;
}
.ant-breadcrumb-separator {
  font-weight: bold !important;
  @apply !text-green-600;
}

:where(.css-dev-only-do-not-override-rz3n0c).ant-btn-variant-text:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: #16a34a !important;
}
.ant-menu-item-selected {
  background-color: #16a34a !important;
  color: white !important;
}

.ant-menu-item-active {
  background-color: #16a34a !important;
  color: white !important;
}
